@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: aliceblue;
}
body {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: linear-gradient(
    45deg,
    red 0%,
    red 14.9%,
    orange 15%,
    orange 28.9%,
    yellow 29%,
    yellow 42.9%,
    green 43%,
    green 56.9%,
    cyan 57%,
    cyan 70.9%,
    blue 71%,
    blue 84.9%,
    rgb(199, 0, 199) 85%,
    rgb(199, 0, 199) 100%
  );
}
#appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 500px;
  margin: auto;
  color: white;
}
@media (min-width: 500px) {
  #appContainer {
    color: black;
    background: rgba(255, 255, 255, 0.836);
  }
}

/*HEADER*********************************************************/
h1 {
  font-family: "Lobster", cursive;
  font-weight: 400;
  margin: 1rem 0;
  text-shadow: 4px 3px 7px rgba(0, 0, 0, 0.3);
}

/*ASPECT RATIO IMAGE CONTAINER***********************************/
#aspectRatioContainer {
  width: 100%;
  background-color: white;
}
#squareBox {
  position: relative;
  height: 0;
  padding-top: 100%;
}
#squareBoxInside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#centeringContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*TIMER**********************************************************/
#timerFlex {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#timerContainer {
  width: 50%;
  margin: 2rem;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 0.4rem;
  font-family: "Oswald", sans-serif;
  text-shadow: 4px 3px 7px rgba(0, 0, 0, 0.6);
}
#timer {
  font-size: 2.2rem;
  margin-top: 0.7rem;
}
